<div class="container d-flex  d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/album1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bruno Mars</h5>
          <p class="card-text">doo-wops & hooligans</p>
            <a href="#" class="btn btn-primary  container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/album2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">katy perry</h5>
          <p class="card-text">witness</p>
            <a href="#" class="btn btn-primary  container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The weeknd</h5>
          <p class="card-text">Starboy</p>
            <a href="#" class="btn btn-primary  container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/album3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Billie eilish</h5>
          <p class="card-text">Happier than ever</p>
            <a href="#" class="btn btn-primary  container-fluid">Comprar</a>
        </div>
      </div>
</div>


